<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welccome!
			{% endblock %}
		</title>


		<link rel="icon" type="image/svg+xml" href="{{ asset('svg/favicon.svg') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
	</head>
	<body class="min-h-screen flex flex-col ">
		<nav class="bg-primary-color py-4">
			<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 flex items-center justify-between">
				<div class="flex items-center gap-6">
					<a href="{{ path('home') }}" class="text-tertiary-color font-semibold hover:bg-secondary-color px-4 py-2 text-sm border border-secondary-color  {% if app.request.attributes.get('_route') == 'home' %} {{ ' bg-secondary-color' }} {% endif %}" aria-current="page">Accueil</a>
					<a href="{{ path('vehicles.index') }}" class="text-tertiary-color border border-secondary-color  font-semibold hover:bg-secondary-color px-4 py-2 text-sm  {% if app.request.attributes.get('_route') == 'vehicles.index' %} {{ ' bg-secondary-color' }} {% endif %}" aria-current="page">Véhicules</a>
				</div>
				<h1 class="font-bold text-xl text-tertiary-color mr-4">WikiTestYan</h1>
			</div>
		</nav>
		{% include 'partials/flash.html.twig' %}
		{% block body %}{% endblock %}
		<footer class="  shadow m-4 bg-primary-color mt-auto">
			<div class="w-full mx-auto max-w-7xl py-4 px-10 md:flex md:items-center md:justify-between">
				<span class="text-sm text-tertiary-color sm:text-center ">2024
					<a href="https://www.yanlafitte.com/" target="_blank" rel="noopener noreferrer" class="hover:underline">Built by Yan Lafitte.</a>
				</span>
				<ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-tertiary-color sm:mt-0">
					<li>
						<a href="https://github.com/YanLAFITTE/Wiki-Test-Yan" target="_blank" rel="noopener noreferrer" class="hover:underline me-4 md:me-6">GitHub</a>
					</li>
					<li>
						<a href="mailto:welcome.yanlafitte@gmail.com" class="hover:underline">Contact</a>
					</li>
				</ul>
			</div>
		</footer>

	</body>
</html>
