<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<nav class="bg-[#d4683e] py-2">
			<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 flex items-center justify-between">
				<div class="flex space-x-4">
					<a href="{{ path('home') }}" class=" text-white font-bold  px-3 py-2 text-sm  {% if app.request.attributes.get('_route') == 'home' %} {{ 'bg-[#f6a609]' }} {% endif %}" aria-current="page">Accueil</a>
					<a href="{{ path('vehicles.index') }}" class=" text-white font-bold px-3 py-2 text-sm  {% if app.request.attributes.get('_route') == 'vehicles.index' %} {{ 'bg-[#f6a609]' }} {% endif %}" aria-current="page">Véhicules</a>
				</div>
				<h1 class="font-bold text-xl text-white">YanWikiTest</h1>
			</div>
		</nav>
		{% include 'partials/flash.html.twig' %}
		{% block body %}{% endblock %}
	</body>
</html>
