{% extends 'base.html.twig' %}

{% block title %}Véhicules
{% endblock %}

{% block body %}
	<div class="mx-auto w-full max-w-7xl my-20  px-2 sm:px-6 lg:px-8 font-semibold">
		<p class="p-4 text-2xl max-w-xl mx-auto bg-gray-100  text-center mb-20">Liste des vehicules</p>

		<div class=" flex gap-10 items-center w-full max-w-5xl  mx-auto  pb-4">
			<p class="">
				Ajouter un véhicule:
			</p>
			<a class="text-black border border-secondary-color hover:bg-secondary-color hover:text-tertiary-color font-medium text-sm px-5 py-2.5 focus:outline-none " href={{path('vehicles.create' )}}>
				<span>Ajouter</span>
			</a>
		</div>

		<table class="w-full max-w-5xl  mx-auto">
			<thead>
				<tr class=" flex justify-between mt-10 mb-4">
					<th>
						Modifier ou supprimer un véhicule:
					</th>
				</tr>
			</thead>
			<tbody>
				{% for vehicle in vehicles %}
					<tr class=" border-b border-black  flex items-center justify-between pb-4 my-6">
						<td>
							<a class="py-2 px-3 bg-gray-100  hover:bg-gray-200 cursor-pointer" href={{path('vehicles.show',{id: vehicle.getId(),slug: vehicle.getSlug()} )}}>
								<span>{{vehicle.getBrand()}}
									-
									{{vehicle.getModel()}}</span>
							</a>
						</td>
						<td class="flex gap-4">
							<a class="text-black border border-secondary-color hover:bg-secondary-color hover:text-tertiary-color font-semibold  text-sm px-5 py-2.5 focus:outline-none" href={{path('vehicles.edit',{id: vehicle.getId()} )}}>
								<span>Modifier</span>
							</a>
							<form action={{ path('vehicles.delete', {id: vehicle.getId()} )}} method="post">

								<input type="hidden" name="_method" value="DELETE">
								<button type="submit" class="text-black border border-primary-color hover:text-tertiary-color hover:bg-primary-color font-medium text-sm px-5 py-2.5 focus:outline-none">
									<span>Suprimer</span>
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
