{% extends 'base.html.twig' %}

{% block title %}Hello Vehicles Show Controller!
{% endblock %}

{% block body %}


	<div class="text-5xl mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">


		<div class="mb-4">This friendly message is coming from: /vehicles.show</div>

		<div>{{vehicle.getBrand()}}
			-
			{{vehicle.getModel()}}</div>

		<h2 class=" mt-4">Availabilities :</h2>
		<ul>
			{% for availability in availabilities %}
				<li>Start Date:
					{{ availability.startDate|date('Y-m-d') }}</li>
				<li>End Date:
					{{ availability.endDate|date('Y-m-d') }}</li>
				<li>Price per Day:
					{{ availability.pricePerDay }}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
